# Hue Bridge Configuration
HUE_USERNAME=#THE USERNAME YOU CREATED IN THE HUE APP
HUE_BRIDGE_IP=#THE IP ADDRESS OF YOUR HUE BRIDGE

# Home Assistant Configuration (for list_ha_lights.py)
# HA_TOKEN=#your-ha-token-here #not required
